<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>879706606771-82bqb64e1lc5tr8v7lgii8bi4ius1l0a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.879706606771-82bqb64e1lc5tr8v7lgii8bi4ius1l0a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>879706606771-hbhsct9f3kah78iiuesbtnufuhi7qe4d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAULsDuP5Ta50svbsIbYVhSl1rJE42KoSA</string>
	<key>GCM_SENDER_ID</key>
	<string>879706606771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.tobby.tripNJoyFront</string>
	<key>PROJECT_ID</key>
	<string>tripnjoy</string>
	<key>STORAGE_BUCKET</key>
	<string>tripnjoy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879706606771:ios:5db36da1e1e0479271f4c6</string>
</dict>
</plist>